.home-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;

  aside {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: 200px;
    padding: 20px;
  }

  .center-section {
    flex: 2;
    margin: 0 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   

    .profile-header {
      margin-bottom: 20px;
      h2 {
        font-size: 1.8rem;
        color: #333;
      }
    }

    .user-posts {
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 15px;
          padding: 10px;
          background: #f9f9f9;
          border-radius: 8px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

          h3 {
            font-size: 1.2rem;
            color: #333;
          }

          p {
            margin-top: 5px;
            color: #555;
          }
        }
      }
    }
  }

  .right-section {
    background-color: #2c343b;
    width: 120px; 
    margin-left: 10%;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    &:hover {
      width: 200px; // S'élargit au survol
    }

    .icon-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e3f2fd;
      }

      i {
        font-size: 1.5rem;
        color: #1976d2;
      }

      span {
        margin-left: 10px;
        font-size: 0.9rem;
        color: #201d1d;
        opacity: 0; // Masqué par défaut
        white-space: nowrap;
        transition: opacity 0.3s ease;
      }

      &:hover span {
        opacity: 1; // Visible au survol
      }
    }
  }
}
