.communityDetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
  

  .right {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9; // Couleur de fond douce pour la section droite
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère pour la section droite

    .items {
      margin-bottom: 20px; // Espacement sous le bouton

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600; // Texte plus gras pour le bouton
        transition: background-color 0.3s, transform 0.2s;
        
        &:hover {
          background-color: #0056b3;
          transform: scale(1.05); // Effet de zoom au survol
        }
        
        &:focus {
          outline: none; // Supprime le contour par défaut au focus
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); // Ajoute une ombre autour du bouton au focus
        }
      }
    }

    .description {
      h1 {
        font-size: 28px;
        color: #333;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #666;
        margin: 0;
      }
    }
  }

  .left {
    flex: 6;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; // Fond doux pour la section gauche
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère pour la section gauche
  }
}
