.communities {
    display: flex;
    color: #333;
    width: 60%;
    margin:  20px auto;
  
    .sidebar {
      flex: 2;
      background-color: #f8f9fa; // Couleur de fond plus douce
      border-right: 1px solid #ddd; // Ajout d'une bordure pour séparer la sidebar du contenu
      padding: 20px;
    }
  
    .content {
      flex: 7;
      padding: 20px; // Ajout de padding pour l'espacement interne
    }
  }
  