.journey-detail-container {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  margin: 0 auto;
  background-color: #f9f9f9; // Arrière-plan plus clair pour le contenu
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #333; // Texte en gris foncé pour plus de contraste

  .journey-detail-header {
    margin-bottom: 20px;
    text-align: center;

    .back-icon {
      position: absolute;
      left: 20px;
      font-size: 1.5rem;
      cursor: pointer;
      color: #333; // Couleur sombre pour l'icône
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #1b033d; // Couleur principale du titre
    }
  }

  .journey-detail-content {
    margin-bottom: 20px;
  

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 0;
      color: #333; // Couleur principale des sous-titres
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: #555; // Texte plus clair
    }
  }

  .progress-bar {
    background: #ddd;
    border-radius: 12px;
    overflow: hidden;
    height: 30px; // Hauteur légèrement augmentée
    width: 100%;
    margin: 20px 0;
    position: relative;

    .progress {
      background: linear-gradient(90deg, #76c7c0, #63b4ab);
      height: 100%;
      transition: width 0.4s ease-in-out;
    }
  }

  .progress-percent {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.2rem;
    color: #444;
  }

  .steps-list {
    margin-top: 20px;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: #1b033d; // Couleur principale des sous-titres
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 1.2rem;
        background-color: #fff; // Arrière-plan des éléments de la liste
        border-radius: 5px;
        margin-bottom: 10px;
        color: #333;

        .step-description {
          flex: 1;
          margin-right: 10px;
        }

        .step-actions {
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            margin-right: 10px;
            transform: scale(1.2); // Agrandir la case à cocher
            cursor: pointer;
          }

          button {
            margin-left: 10px;
            padding: 8px 16px;
            background-color: #1b033d;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #362167;
            }
          }

          span {
            margin-left: 10px;
            color: #777;
            font-size: 0.9rem;
            cursor: pointer;

            &:hover {
              color: #333; // Meilleure visibilité au survol
            }
          }
        }
      }
    }
  }

  .add-step {
    margin-top: 20px;
    display: flex;
    align-items: center;

    input {
      flex: 1;
      padding: 12px;
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1.2rem;
      color: #333;
      background-color: #fff; // Arrière-plan des champs d'input
      transition: border 0.3s ease;

      &:focus {
        border-color: #1b033d; // Bordure en surbrillance au focus
      }
    }

    button {
      padding: 12px 24px;
      background-color: #1b033d;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #362167;
      }
    }
  }
}
